/* body {
  font-size: 15px/1.5 Arial, helvetice, sans-serif;
  padding: 0;
  margin:0;
  background-color: #f4f4f4;
} */




#current{
  color:red;
  border-bottom:1px red solid;
} 





.containerr {
  width:80%;
  margin:auto;
  overflow: hidden;
}




    .button{
      height:38px;
      background: red;
      border:0;
      padding-left:20px;
      color:#ffffff;
    }



    .dark {
      padding:15px;
      background: #35424a;
      color:#ffffff;
      margin-top:10px;
      margin-bottom:10px;
    }




    /*newletter*/
        
#newsletter{
  margin-top: 5.5%;
  background:gray;
   padding: 15px; 
  width:none;
  color:white;
  border-bottom:orange 5px solid;
  min-height:70px;
  /* font-size: 20px;
  margin-top: 15px; */
  
}


#newsletter h1{
      margin-left: 9%; 
      /* margin-top:15px; */
      text-transform: uppercase;
      padding: 10px;
      font-size: 20px;
      
}





#newsletter form { 
   margin-left:70% ;
   /* float:right;  */
   margin-top:-40px;


}




#newsletter input{
  width:240px;
  text-align: center;
  border-bottom: 2px solid white;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
}




#newsletter .button_1 {
  color:white;
  background: red;
}





   /*sidebar*/

   #main{
    min-height: 500%;
   }



    #main #services-1{
      margin-top: 20px;
      background-color: #e6e6e6;
      color:black;
      width:60%;
      padding: 10px;
      margin-bottom: 10px;
      min-height: 300px;

    }

    #main #services-1 h2{
          font-size: 25px;
         text-align: center;
          margin-bottom: 40px;
          margin-top: 20px;
          padding: 10px;
  }



    #main #services-1 ul li h3{
          font-size: 20px;
          padding: 10px;


    }

#main #services-1 ul li p{
    font-size: 15px;
    padding: 10px;

}





    #main #services-2{
      background-color: #e6e6e6;
      color:black;
      width:60%;
      padding: 10px;
      margin-bottom: 10px;
      list-style: none;
      min-height: 300px;

    }



    #main #services-2 li h3{
      font-size: 20px;
      padding: 10px;     

}


#main #services-2 li p{
  font-size: 15px;
  padding: 10px;
}


   
    #main #services-3{
      background-color: #e6e6e6;
      color:black;
      width:60%;
      padding: 10px;
      margin-bottom: 10px;
      list-style: none;
      min-height: 300px;
      margin-bottom: 10%;

    }

    #main #services-3 li h3{
      font-size: 20px; 
      padding: 10px;    

}


#main #services-3 li p{
  font-size: 15px;
  padding: 10px;
}









    #sidebar .dark{
       background-color: #35424a;
       color:white;
       width:30%;
       margin-left:70%;
       margin-top:-75%;
    }


    .button_1 {
      color:white;
      background: red;
    }








   /*main-col*/

   article #maim-col{
                    float:left;
                    width:65%;
   }



  
   footer  {
    padding:10px;
    text-align:center;
    color:white;
    background-color: black;
    font-weight:100px;
    margin-top: 51%;
  

    
   }







              /*Landscape phone Responsiveness*/ 

@media screen and (max-width:600px) and (orientation:landscape){
  .containerr {
      width:80%; 
      margin:auto;
  }
}

@media screen and (max-width:600px) and (orientation:portrait){
  .containerr{
      width:80%; 
      margin:auto;
  }



          /* potrat phone Responsiveness*/
  
            #newsletter h1 {
             margin-top:40px;
              text-transform: uppercase;
              padding: 10px;
              font-size: 20px;
              margin-top: 10%;

        }


        #newsletter form { 
          margin-left:5% ;
          /* float:right;  */
          margin-top:-5%;
       
       
       }

       #newsletter .button_1 {
        color:white;
        background: red;
        margin-top: 20px;
        margin-left:20px;
      }



       #main #services-1{
        margin-top: 20px;
        background-color: #e6e6e6;
        color:black;
        width:100%;
        padding: 10px;
        margin-bottom: 10px;
        min-height: 300px;
  
      }


      #main #services-2{
        background-color: #e6e6e6;
        color:black;
        width:100%;
        padding: 10px;
        margin-bottom: 10px;
        list-style: none;
        min-height: 300px;
  
      }


      
      



      #main #services-3{
        background-color: #e6e6e6;
        color:black;
        width:100%;
        padding: 10px;
        margin-bottom: 10px;
        list-style: none;
        min-height: 300px;
        margin-bottom: 10%;
  
      }


      
    #sidebar .dark{
      background-color: #35424a;
      color:white;
      width:75%;
      margin-left:30px;
      margin-top:20%;
   }

  
  


  /*footer*/

  
  footer  {
    padding:10px;
    text-align:center;
    color:white;
    background-color: black;
    font-weight:100;

    
   }

      
  
}
            

              /*Desktop*/
              
@media(min-width:601px) and (max-width:768px){
  .containerr {
      width:80%; 
      margin:auto;
  }
}


